In [7]:
#Importing necessary libraries
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns
# %matplotlib inline

In [11]:
data = pd.read_csv('diabetes.csv')

Preview of the dataset.

In [12]:
# displaying the dataset
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

Statistics of the data

In [14]:
data.describe().transpose()

                          count        mean  ...        75%     max
Pregnancies               768.0    3.845052  ...    6.00000   17.00
Glucose                   768.0  120.894531  ...  140.25000  199.00
BloodPressure             768.0   69.105469  ...   80.00000  122.00
SkinThickness             768.0   20.536458  ...   32.00000   99.00
Insulin                   768.0   79.799479  ...  127.25000  846.00
BMI                       768.0   31.992578  ...   36.60000   67.10
DiabetesPedigreeFunction  768.0    0.471876  ...    0.62625    2.42
Age                       768.0   33.240885  ...   41.00000   81.00
Outcome                   768.0    0.348958  ...    1.00000    1.00

[9 rows x 8 columns]

__PREDICTIONS__

We will apply several statistical tests to the dataset and choose the best model. We start

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X=data.drop('Outcome', axis=1)

In [20]:
y=data['Outcome']

Splitting dataset into training and test sets

In [21]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

Now we apply Decision Tree Algorithm

In [22]:
from sklearn.tree import DecisionTreeClassifier

Taking infromation gain as attribute selection algorithm

In [23]:
dtree=DecisionTreeClassifier(criterion='entropy')

In [24]:
dtree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [25]:
dtree_pred=dtree.predict(X_test)

In [26]:
dtree.score(X_test, y_test)

0.7056277056277056

In [30]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
print(confusion_matrix(dtree_pred, y_test))
print('\n')
print(classification_report(dtree_pred, y_test))

[[114  31]
 [ 37  49]]


              precision    recall  f1-score   support

           0       0.75      0.79      0.77       145
           1       0.61      0.57      0.59        86

    accuracy                           0.71       231
   macro avg       0.68      0.68      0.68       231
weighted avg       0.70      0.71      0.70       231

Now taking gini index as the attribute selection algorithm

In [31]:
dtree=DecisionTreeClassifier(criterion='gini')

In [32]:
dtree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [33]:
dtree_pred=dtree.predict(X_test)

In [34]:
dtree.score(X_test, y_test)

0.7012987012987013

In [35]:
print(confusion_matrix(dtree_pred, y_test))
print('\n')
print(classification_report(dtree_pred, y_test))

[[111  29]
 [ 40  51]]


              precision    recall  f1-score   support

           0       0.74      0.79      0.76       140
           1       0.64      0.56      0.60        91

    accuracy                           0.70       231
   macro avg       0.69      0.68      0.68       231
weighted avg       0.70      0.70      0.70       231